/* =========================================
   FOOTER
   ========================================= */
footer#pie {
    /* Ajusta la ruta ../img si es necesario */
    background-image: url('../img/bg1.png');
    background-color: #2e4722;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 30px 20px;
    font-family: 'Cinzel', serif;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}